.menu {
    width: 100%;
}

.logo {
    margin-right: 2rem;
    padding-left: 0 !important;
    pointer-events: none;
}

.avatar {
    position: absolute !important;
    top: 10;
    right: 1rem;
    cursor: pointer;
}