.formLabel {
    font-weight: 600 ;
}

.radioGroup {
    display: flex;
    justify-content: space-between;
}

.thumbnailContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.condition {
    width: 60%;
}

.releaseDate, .retail {
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

.buttonGroup {
    margin-top: 3rem;
    display: flex;
    justify-content: end;
}

.cancelBtn {
    margin-right: 2rem;
}